* {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
   line-height: 2em; }

h1 {padding: 3%;
    background-color: tomato;
    color: azure;}

body {font-size: 125%;}

a:link{color:chocolate;}
a:visited{color:dimgray;}
a:hover{color:brown;}
a:active{font-size:large;}
